.fund{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    font-family: sans-serif;
}

.input{
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

#tela{
    font-size: 15pt;
    font-family: cursive;
    font-weight: bolder;
}