<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Valida</title>
</head>

<body>
    <form href="/get" method="POST">
        <input type="text" id="valida" maxlength="14">
        <input type="submit" onclick="validar()">
    </form>
    <script>
        function validar() {
            var vals = document.querySelector("#valida").value;
            var ident = isNaN(vals)
            if(vals.length == 11 && ident === false){
                console.log("CPF")
                CPF(vals)
            }else if(vals.length == 14 && ident === false){
                console.log("CNPJ")
                CNPJ(vals)
            }else{
                console.log("Nenhum dos dois")
            }
        }
        function CPF(vals){
            console.log(vals)
            let envia = {}
            envia.cpf = vals
            $.ajax({
                url: "/get",
                contentType: "application/json; charset=UTF-8",
                data: JSON.stringify(envia),
                dataType: "json",
                type: "POST",
            }).done(function(){
                console.log("Feito")
            }).fail(function(){
                console.log("Error")
            })
        }
        function CNPJ(vals){
            console.log(vals)
            let envia = {}
            envia.cnpj = vals
            $.ajax({
                url: "/get",
                contentType: "application/json; charset=UTF-8",
                data: JSON.stringify(envia),
                dataType: "json",
                type: "POST",
            }).done(function(){
                console.log("Feito")
            }).fail(function(){
                console.log("Error")
            })
        }
    </script>
</body>

</html>